.header{
  height: 50px;
  background-color: #7d3920;
  color: white;
  padding: 5px 30px;
}

.navbar{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login{
  border: 1px solid white;
}
.signup{
  background-color: white;
  color: coral;
}

.container_links{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}