:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

main{

  background: url("../public/Training.svg") no-repeat 120% 100%/40% ;
  flex-grow: 1;
}

.container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  color:white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  main {
    background: url("../public/Training.svg") no-repeat right bottom;
  }
}
